/*GLOBAL STYLE - BEGIN*/

body{
    margin: 0px;
    padding: 0px;
    background-image: url("../img/background/background.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, sans-serif;
}

::-webkit-scrollbar{
    width: 12px;
    max-width: 12px;
}

::-webkit-scrollbar-track{
    background-color: #4C4E52;
}

::-webkit-scrollbar-thumb{
    background-color: #3CB878;
    border-radius: 8px;
    border: 2px solid #4C4E52;
}

::placeholder{
    color: #BEBEBE;
    opacity: 0.85;
}

input[type="text"]{
    background-color: #FFFFFF;
    padding-left: 24px;
    margin-bottom: 10px;
    width: 300px;
    height: 36px;
    font-size: 15px;
    color: #000000;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
}

input[type="text"]:focus, input[type="text"]:active{
    outline: none;
    box-shadow: 0px 8px 10px #D6D6D6;
}

input[type="checkbox"]{
    width: 20px;
    height: 30px;
}

/*GLOBAL STYLE - END*/

.header-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    min-width: 768px;
}

.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
}

.header-logo a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}

.header-logo a:hover{
    filter: invert(61%) sepia(36%) saturate(682%) hue-rotate(96deg) brightness(93%) contrast(89%);
}

.header-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-right: 80px;
}

.navigation-icon{
    padding-right: 9px;
}

.navigation-icon a{
    padding-right: 16px;
    transition: 0.5s;
}

.navigation-icon a:hover{
    filter: invert(61%) sepia(36%) saturate(682%) hue-rotate(96deg) brightness(93%) contrast(89%);
}

.navigation-auth{
    color: #FFFFFF;
    border-left: 1px solid #4C4E52;
    padding-left: 25px;
}

.navigation-auth a{
    color: #3CB878;
    text-decoration: none;
}

.navigation-auth a:hover{
    color: #3CB878;
    text-decoration: underline;
}

/*HEADER STYLE - END*/

/*SIGNUP CONTAINER STYLE - BEGIN*/

.signup-container{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 410px;
    margin: 128px auto;
    padding: 15px 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #000000;
}

.signup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-header h1{
    font-size: 22px;
    padding-right: 160px;
}

.signup-header a{
    padding-right: 45px;
    color: #3CB878;
    text-decoration: none;
}
.signup-header a:hover{
    text-decoration: underline;
}

.signup-header-square{
    background-color: #3CB878;
    width:20px;
    height: 20px;
    border-radius: 0px 3px 3px 0px;
}

.social-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textbox-text-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #df4a32;
    margin-right: 42px;
    width: 158px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#google:hover{
    border-color: #c3412c;
    background-color: #c3412c;
}

#google p{
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 15px;
}

#google img{
    padding-right: 5px;
    margin-left: -20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#facebook{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #305db8;
    margin-left: 42px;
    width: 158px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#facebook:hover{
    border-color: #264b96;
    background-color: #264b96;
}

#facebook p{
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 15px;
}

#facebook img{
    padding-right: 5px;
    margin-left: -20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.center-line{
    text-align: center;
    border-bottom: 2px solid rgba(87, 96, 111, 0.25);
    line-height: 0.01em;
    margin: 40px 0px 30px 10%;
    width: 80%;
}

.center-line span{
    color: rgba(87, 96, 111, 0.8);
    background-color: #FFFFFF;
    font-size: 15px;
    padding: 0px 10px;
}

.terms-agree{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 10px;
}

#requestButton:hover{
    background-color: #3CB878;
}

.terms-agree p a{
    color: #3CB878;
    text-decoration: none;
}

.terms-agree p a:hover{
    color: #3CB878;
    text-decoration: underline;
}

#requestButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #329a65;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 330px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
    transition: 0.3s;
}